--
-- PostgreSQL database dump
--

\restrict n0HnJKUhphpqWhfyfVLzxvMCArbJyBhw4xqjps7IVw0LQrqLcyRxIa5BKUuKBgp

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: car; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.car (
    regnumber character varying(255) NOT NULL
);


ALTER TABLE public.car OWNER TO admin;

--
-- Name: parkingoperation; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.parkingoperation (
    regnumofparkingact integer NOT NULL,
    endtime timestamp(6) without time zone,
    parkingnodename character varying(255) NOT NULL,
    placeno character varying(255) NOT NULL,
    starttime timestamp(6) without time zone NOT NULL,
    regnumber character varying(255)
);


ALTER TABLE public.parkingoperation OWNER TO admin;

--
-- Data for Name: car; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.car (regnumber) FROM stdin;
ABC123
XYZ789
DEF456
GHI789
JKL012
MNO345
PQR678
STU901
VWX234
YZA567
NEW456
\.


--
-- Data for Name: parkingoperation; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: car car_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.car
    ADD CONSTRAINT car_pkey PRIMARY KEY (regnumber);


--
-- Name: parkingoperation parkingoperation_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.parkingoperation
    ADD CONSTRAINT parkingoperation_pkey PRIMARY KEY (regnumofparkingact);


--
-- Name: parkingoperation fkgmrq3an2beio9r8eo6fj9eob2; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.parkingoperation
    ADD CONSTRAINT fkgmrq3an2beio9r8eo6fj9eob2 FOREIGN KEY (regnumber) REFERENCES public.car(regnumber);


--
-- PostgreSQL database dump complete
--

\unrestrict n0HnJKUhphpqWhfyfVLzxvMCArbJyBhw4xqjps7IVw0LQrqLcyRxIa5BKUuKBgp

